In [1]:
import pandas as pd

In [13]:
df = pd.read_csv("place_info_final_0103_url.csv")
df.columns

Index(['index', 'google_url', 'place_name', 'total_rating', 'place_category',
       'total_reviews', 'cost', 'address', 'district', 'eat_in', 'to_go_1',
       'to_go_2', 'delivery', 'opening_hours', 'website', 'phone', 'close',
       'place_acquisition_date', 'file_name_1', 'new_district', 'new_rating',
       'new_review', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday',
       'saturday', 'sunday', 'new_place_category', 'latitude', 'longitude',
       'district_num', 'model_rating', 'url'],
      dtype='object')

In [14]:
df.loc[:,"model_rating"]

0        3.3
1        3.7
2        3.4
3        3.1
4        4.3
        ...
16189    4.3
16190    4.0
16191    3.4
16192    1.9
16193    4.4
Name: model_rating, Length: 16194, dtype: float64

In [19]:
df = df[df.loc[:,"model_rating"]>=3]

In [31]:
df = df[~df["new_place_category"].str.contains("夜市")]

In [33]:
df[df.loc[:,"new_place_category"]=="夜市"]

Empty DataFrame
Columns: [index, google_url, place_name, total_rating, place_category, total_reviews, cost, address, district, eat_in, to_go_1, to_go_2, delivery, opening_hours, website, phone, close, place_acquisition_date, file_name_1, new_district, new_rating, new_review, monday, tuesday, wednesday, thursday, friday, saturday, sunday, new_place_category, latitude, longitude, district_num, model_rating, url]
Index: []

[0 rows x 35 columns]

In [35]:
df[df.loc[:,"model_rating"]<3]

Empty DataFrame
Columns: [index, google_url, place_name, total_rating, place_category, total_reviews, cost, address, district, eat_in, to_go_1, to_go_2, delivery, opening_hours, website, phone, close, place_acquisition_date, file_name_1, new_district, new_rating, new_review, monday, tuesday, wednesday, thursday, friday, saturday, sunday, new_place_category, latitude, longitude, district_num, model_rating, url]
Index: []

[0 rows x 35 columns]

In [38]:
df = df.iloc[:,1:]

In [40]:
df.to_csv("place_info_final_del_lessThan_3_nightmarket.csv",index=None)